numpy
pandas
scipy
six
cmap
pyperclip
octarine3d>=0.3.0
pygfx==0.9.0
PySide6
scipy
dvidtools
neuprint-python
scipy
navis
cloud-volume
requests
httpx
nglscenes @ git+https://github.com/schlegelp/nglscenes@main

