numpy
pandas
scipy
six
cmap
pyperclip
octarine3d
pygfx==0.8.0
PySide6
scipy
dvidtools
neuprint-python
scipy
navis
cloud-volume
requests
httpx
nglscenes @ git+https://github.com/schlegelp/nglscenes@main

